<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmxTk__4MevH62BIbwU8MNLpzqxIwfJzk</string>
	<key>GCM_SENDER_ID</key>
	<string>341792430970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.list.to.do.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>rn-todo-app-d14b5</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-todo-app-d14b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341792430970:ios:8c19571d056848392654c3</string>
	<key>DATABASE_URL</key>
	<string>https://rn-todo-app-d14b5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>